# Dependencies / build
node_modules/
.next/
out/
dist/
coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env & secrets
.env
.env.local
.env.*.local

# Prisma / SQLite dev DBs
prisma/*.db
prisma/*.db-journal

# OS / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
